.rentalConditions{
    margin-top: 80px;
}
.rentalConditions p{
    font-size: 14px;
    margin-top: 16px;
    font-weight: 500;
}
.specifications{
    margin-top: 110px;
}
.specifications p {
    font-size: 14px;
        margin-top: 16px;
        font-weight: 500;
}
.features {
    margin-top: 110px;
}
.features p{
    font-size: 14px;
        margin-top: 16px;
        font-weight: 500;
}
.carInfoTitle{
    font-weight: 600;
    font-size: 24px;
}
.carInfoLocation{
    margin-top: 8px;
}
.carInfoPrice{
    margin-top: 16px;
    color:#3470FF;
}
.carInfoDesc{
    margin-top: 32px;
}